.formCad{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(420px, auto));
    grid-auto-flow: row;
    justify-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    margin: 20px;
}
.formCad input{
    width: 400px;
    max-width: 90%;
}
.definecurso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.definecurso .MuiOutlinedInput-root{
    width: 400px;
}
.definirareadeatuacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}